<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>EXERCISE COMPETITION</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Scripts -->
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main.ctrl.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.13.3.min.js"></script>
    <script type="text/javascript" src="js/mandrill.js"></script>
</head>

<body ng-app="app" ng-controller="MainController as main">
    <!-- CONTAINER -->
    <div class="container">
        
        <!-- INFO -->
        <h2 class="text-center">Instructions</h2>
        <div class="jumbotron">
            <p>You have been chosen to serve as a judge for a world-famous exercise competition! Along with several other world-class judges you will be evaluating our contestants performance of thrilling and exotic exercise techniques such as ... squats!</p>
            <p>But our contestants are not the only ones being assessed - this is also <b>your</b> chance to show off those superior judging skills. The best judge will go home with a trophy of their own, so give it your best!
                <p>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="alert alert-info" role="alert" ng-hide="checked">
                                <h4><b>How to Play:</b></h4> <span style="font-size:16px">Click <span class="label label-primary">LET'S GO</span> to start judging. You will be given information about the event and then shown two contestants at a time. Judge which one of them is better at performing the exercise using their respective <span class="label label-primary">VOTE</span> button.
                                <br>
                                <br>
                                You will get <span class="label label-success">POINTS</span> for your evaluations depending on how many of the other judges agree with your decision. This is a democracy, after all. No one is born a perfect judge - so gathering many points will increase your <span class="label label-success">RANK</span>. Aim for the top!
                                <br>
                                <br> Be thorough, but don't take too long - the other contestants will get bored if you spend more than <span class="label label-warning">20 SECONDS</span> comparing two contestants (<i>good thing this isn't an endurance competition!</i>). If you go over the time limit you will receive a <span class="label label-danger">POINT PENALTY</span>.
                                <br>
                                <br> There are <b>five events</b> in total. Each has <b>four tournaments</b>, each requiring you to judge <b>four matches</b>.<br>
                                <br>Since this is a state-of-the-arts institution, you will not only judge the contestants in <i>3D</i> but also visualizations of their movements on a <i>skeleton model</i>, <i>depth image</i> and portrayal in <i>virtual reality</i>. In these additional visualizations you should try to ignore any technology-caused jitter in your judgement. Analyze them to the bones!<br>
                                <br><i>Tick the checkbox to the right to make this explanation disappear. You can untick it any time if you want to check the rules again.</i></span>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <p align="right">
                        <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide"> I know how to play!</span>
                    </p>
        </div>
        <!-- INFO END -->

        <hr>

        <!-- COMPETITION -->
        <h2 class="text-center">Competition</h2>
        <div class="jumbotron">

            <!-- START BUTTON -->
            <p align="center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="main.spielInitialisieren()">
                    <div ng-show="main.started == false">LET'S GO</div>
                    <div ng-show="main.started == true">CONTINUE</div>
                </button>
            </p>
            <!-- START BUTTON END -->
            <br>
            <!--  EVENT TABLE -->
            <table class="table table-bordered" style="background-color: #ffffff;">
                <thead>
                    <tr>
                        <th>First Block: Easy</td>
                            <th>Second Block: Medium</td>
                                <th>Third Block: Hard</td>
                    </tr>
                </thead>
                <tr align="center">
                    <td>
                        <button type="button" class="btn btn-success btn-lg btn-block">
                            <h2>{{main.exercises[0].name}}</h2>
                            <br>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning btn-lg btn-block">
                            <h2>{{main.exercises[2].name}}</h2>
                            <br>
                    </td>
                    <td rowspan="2">
                        <br>
                        <br>
                        <br>
                        <button type="button" class="btn btn-danger btn-lg btn-block">
                            <h2>{{main.exercises[4].name}}<br><br></h2></td>
                </tr>
                <tr align="center">
                    <td>
                        <button type="button" class="btn btn-success btn-lg btn-block">
                            <h2>{{main.exercises[1].name}}</h2>
                            <br>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning btn-lg btn-block">
                            <h2>{{main.exercises[3].name}}</h2>
                            <br>
                    </td>
                </tr>
            </table>
            <!--  EVENT TABLE END -->

            <!-- PROGRESS BAR -->
            <div class="row">
                <div class="col-xs-6 col-md-1"><b>Progress:</b></div>
                <div class="col-xs-6 col-md-11">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{main.progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( main.progress + '%' ) }">
                            {{main.progress}} % Complete
                        </div>
                    </div>
                </div>
            </div>
            <!-- PROGRESS BAR END -->
        </div>
        <hr>

        <!-- MODAL WINDOW -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="text-center">
                     <span ng-show="main.finished == false">{{main.eCounter}}. Event: {{main.exercises[main.eCounter-1].name}} - {{main.tCounter}}. Tournament</span>
                   </h1>
                    </div>

                    <!-- MODAL CONTENT -->
                    <div class="modal-body">

                        <!-- ANLEITUNG -->
                        <div ng-show="main.state == 0  && main.finished == false">
                            <p align="center"><img ng-src="{{main.exercises[main.eCounter-1].pic}}"></p>

                            <div class="jumbotron" ng-show="main.eCounter == 1">
                                <h2>Starting Position</h2>
                                <p>Begin this exercise by standing with your feet wider than shoulder width apart and your toes pointed forward.</p>
                                <h2>Action</h2>
                                <p>INHALE: Slowly lower your body and remember to bend slightly at your hips. Keep your weight back on your heels and your back as upright as possible. Make sure your knees don't cross the plane of your toes.</p>
                                <p>EXHALE: Straighten legs and come up to the starting position to complete one rep.</p>
                                <h2>Special Instructions</h2>
                                <p>Do not go past 90 degrees at the bend in your knees because this causes additional stress on your joints. If you feel pain in your knees, just go down to where you don't feel pain and come back up. If you have difficulty performing this exercise you can also use a chair or wall to help with balance and the movement until you build sufficient strength.</p>
                            </div>

                            <div class="jumbotron" ng-show="main.eCounter == 2">
                                <h2>Starting Position</h2>
                                <p>Stand tall with your legs together, arms relaxed and back straight. Step your left leg behind your right leg, toes pointing forward and legs straight. Put your right hand on your hip and reach your left arm up in line with the shoulder (not pictured).</p>
                                <h2>Action</h2>
                                <p>Breathe slowly and steadily as you push your hips toward the left and reach your left arm overhead and to the right. Hold the stretch for 10 - 30 seconds. Switch sides.</p>
                                <h2>Special Instructions</h2>
                                <p>For a deeper stretch, keep your feet farther apart, bend your knee of your front leg and keep the back knee straight. Keep your shoulders relaxed.</p>
                            </div>

                            <div class="jumbotron" ng-show="main.eCounter == 3">
                                <h2>Starting Position</h2>
                                <p>Begin by standing with your feet shoulder width apart, hands on hips.</p>
                                <h2>Action</h2>
                                <p>INHALE: Step out to the right and shift your body weight over your right leg, squatting to a 90 degree angle at the right knee. Try to sit down with your butt, keeping your back as upright as possible.</p>
                                <p>EXHALE: Push off and bring your right leg back to center to complete one rep. Finish all reps on this side, and repeat on left side to complete one set.</p>
                                <h2>Special Instructions</h2>
                                <p>Keep your weight on your heels and make sure your knees don't go over the plane of your toes. Hold your arms out in front if you to help with balance.</p>
                            </div>

                            <div class="jumbotron" ng-show="main.eCounter == 4">
                                <h2>Starting Position</h2>
                                <p>Stand with your feet about 6 inches apart from each other toes pointed forward.</p>
                                <h2>Action</h2>
                                <p>INHALE: Step forward with one leg and lower your body to 90 degrees at both knees. Don't step out too far. There should be 2 to 2.5 feet between you feet at this point. Keep your weight on your heels and don't allow your knees to cross the plane of your toes.</p>
                                <p>EXHALE: Push up and back to the starting position to complete one rep. Repeat all reps on one leg, then switch to complete one set.</p>
                                <h2>Special Instructions</h2>
                                <p>Keep your back upright. The further you step, the more you work the glutes (buttocks) and hamstrings. The closer you step, the more you work the quadriceps muscles on the top of your thighs. Place your hand on a chair or wall for balance if necessary.</p>
                            </div>

                            <div class="jumbotron" ng-show="main.eCounter == 5">
                                <h2>Starting Position</h2>
                                <p>Stand with legs hip-distance apart, toes pointed forward, back straight, hands on hips.</p>
                                <h2>Action</h2>
                                <p>INHALE: Take a big step backward with your right leg, keeping upper body as straight as possible. Bend both knees lowering your body and back knee toward the floor.</p>
                                <p>EXHALE: Straighten legs and push off back leg to step forward to complete one rep. You can complete a full set of reps on one leg and then switch sides (pictured) or alternate legs with each repetition.</p>
                                <h2>Special Instructions</h2>
                                <p>Take care to keep your back straight without leaning and front knee in line with ankle during lunge.</p>
                            </div>
                        </div>

                        <!-- FERTIG -->
                        <div class="jumbotron" ng-show="main.finished == true">

                            <div class="alert alert-success" role="alert">
                                <h1 align="center">CONGRATULATIONS!</h1>
                                <p align="center">That was the finest judging we have seen in a long time.<br>Hope you already cleared some shelf space for your new trophy!</p>
                            </div>
                            <p align="center"><img src="img/trophy.png" alt="Trophy Icon" width="300px"></p>
                            <p align="center">You finished with <span class="badge">{{main.pointsTotal}}</span> points and rank <span class="badge">{{main.level}}</span>. Impressive!
                                <br>Thank you for playing.
                            </p>
                        </div>

                        <!-- FORMULAR -->
                        <div class="row" align="center">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-8">
                                <div class="panel panel-default" ng-show="main.finished == true && main.showForm == true">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-10">
                                                <p>It would be a great help if you could fill out this form. All data will be collected anonymously, of course. <b>Thank you!</b></p>
                                            </div>
                                            <div class="col-xs-1"></div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-3">
                                                <b>Gender:</b>
                                                <select class="form-control" ng-model="main.gender">
                                                    <option>Female</option>
                                                    <option>Male</option>
                                                    <option>Other</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-3">
                                                <b>Age:</b>
                                                <input type="text" class="form-control" placeholder="e.g. 25" ng-model="main.age"> 
                                            </div>
                                            <div class="col-xs-4">
                                                <b>Occupation:</b>
                                                <input type="text" class="form-control" placeholder="e.g. Student"  ng-model="main.occupation">
                                            </div>
                                            <div class="col-xs-1"></div>
                                        </div>
                                        <br>
                                        <div class="row">
                                          <div class="col-xs-1"></div>
                                          <div class="col-xs-10">
                                            <textarea class="form-control" rows="3" placeholder="What did you like or dislike about the game? Any feedback is much appreciated."  ng-model="main.comment"></textarea>
                                            </div>
                                            <div class="col-xs-1"></div>
                                        </div>
                                        <br>
                                        <div class="row" align="center">
                                            <button class="btn btn-default" type="submit" ng-click="main.submit(main.gender, main.age, main.occupation, main.comment)" ng-disabled="main.formDisabled">Submit</button>
                                            <button class="btn btn-default" type="submit" ng-click="main.hideForm()" ng-disabled="main.formDisabled">No, thanks</button><br><br>
                                            <alert type="success" dismiss-on-timeout="3000" close="main.hideFormAlert()" ng-if="main.showFormAlert">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<strong>Thank you!</strong>
                                            </alert>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                        <!-- FORMULAR END -->

                        <div align="center">
                            <button type="button" ng-click="main.start()" class="btn btn-primary btn-lg" ng-disabled="main.isDisabled" ng-hide="main.finished == true">{{main.buttontext}}</button>
                        </div>
                        <br>
                        <!-- VOTINGBEREICH -->
                        <div ng-show="main.state == 1 && main.finished == false">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div ng-show="main.showInfo">
                                        <div class="alert alert-success aler-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;<strong>Congratulations!</strong> {{main.feedBackAlerts[main.feedBackCounter-1]}}
                                        </div>
                                    </div>
                                    <h2 align="center" ng-show="main.rCounter > 0 && main.rCounter < 5">{{ main.roundNames[main.rCounter-1]}}</h2>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row" ng-show="main.rCounter != 5">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <div class="thumbnail" align="center">
                                        <video ng-src="{{main.optiona.vid}}" width="240" height="200" autoplay="autoplay" loop="loop"></video>
                                        <div class="caption">
                                            <h3>Contestant A</h3>
                                            <a ng-click="main.vote(main.optiona, main.optionb)" class="btn btn-primary" role="button" ng-disabled="main.voteDisabled">Vote for A</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="thumbnail" align="center">
                                        <video ng-src="{{main.optionb.vid}}" width="240" height="200" autoplay="autoplay" loop="loop"></video>
                                        <div class="caption">
                                            <h3>Contestant B</h3>
                                            <a ng-click="main.vote(main.optionb, main.optiona)" class="btn btn-primary" role="button" ng-disabled="main.voteDisabled">Vote for B</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <!-- RESULT -->
                            <div ng-show="main.rCounter == 5">
                                <div class="row" align="center">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4" align="center">
                                        <button class="btn btn-success btn-lg btn-block">
                                            <p>
                                                Winner:
                                                <br>
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <b>Contestant {{main.first.number}}</b>
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <br>
                                                <video ng-src="{{main.first.vid}}" width="140" height="100" autoplay="autoplay" loop="loop"></video>
                                            </p>
                                        </button>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8" align="center">
                                        <p>
                                            <div class="btn-group" role="group" aria-label="...">
                                                <button class="btn btn-warning btn-lg">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Second Place: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                    <br><b>Contestant {{main.second.number}}</b></button>
                                                <button class="btn btn-danger btn-lg">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Third Place: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                    <br><b>Contestant {{main.third.number}}</b></button>
                                            </div>
                                            <p>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <!-- RESULT END -->

                            <!-- COUNTDOWN -->
                            <div class="row" align="center" ng-show="main.countdownOn == true">
                                <h1><timer interval="1000" countdown="10">{{main.countdown}}</timer> seconds left</h1>
                                <span class="label label-primary" ng-show="main.countdown > 9 && main.countdown < 11">Half-time!</span>
                                <span class="label label-warning" ng-show="main.countdown > 0 && main.countdown < 6">Time's a-ticking!</span>
                                <span class="label label-danger" ng-show="main.countdown == 0">Time's up! You got a <b>penalty</b>.</span>
                            </div>
                            <!-- COUNTDOWN END -->

                            <hr>

                            <div class="row" align="center">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-default btn-lg"><span class="badge">Points</span><br><font size="6">{{ main.pointsTotal }}</font></button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default btn">Current Rank: <b>{{main.levelTitle[main.level-1]}}</b></button><br><br>
                                    <progressbar class="progress-striped active" value="main.points" max="main.levelCap" type="success">{{main.points}} / {{main.levelCap}} points until the next rank</progressbar>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-default btn-lg"><span class="badge">Rank</span><br><font size="6">{{ main.level }}</font></button>
                                </div>
                            </div>
                            <br>
                            <div class="row" align="center">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <alert type="success" dismiss-on-timeout="5000" close="main.hideLevelUp()" ng-if="main.showLevelUp">
                                        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp;<strong>New Rank!</strong> You may now proudly call yourself <b>{{main.levelTitle[main.level-1]}}</b>
                                    </alert>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL CONTENT END -->

                    <!-- MODAL FOOTER -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Check your progress</button>
                    </div>
                    <!-- MODAL FOOTER END -->

                </div>
            </div>
            <!-- MODAL WINDOW END -->

        </div>
        <!-- COMPETITION END-->
        
        <p align="center"><font size="2">This game is part of a bachelor thesis about gamification. Please only complete the game once.<br>
            If you have any questions, you can contact me at kimkbachelorthesis [at] gmail [dot] com.</font></p>
        <br>

    </div>
    <!-- CONTAINER END-->
</body>

</html>